body {
 /* background-color: #2ED1B3; */
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI4hqxtNSKJe2kZNAozgRgRy3cOBsoCNtQxW13w1Gt8UD00bACd1e6WJ0FR4ed8sa747s&usqp=CAU);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
} 

