
.custom-bg { /* Here I made the container have a different font and enlarged it*/ 
  font-family: "The seasons";
  font-size: 30px;
}
#topnav { /* I am ensuring that as you scroll down the page the navbar stays in the same position on the screen, addiionally I am coloring both the container and nav bar */ 
   background-color: #ffde59;
  position: sticky;
  top: 0;
   z-index: 1000;
 
}
.img-fluid { /* This section is customizing all of my images for them to be spaced out  */ 
  margin-left: 50px;
  margin-right: 50px; 
  margin-bottom: 10px;
}

#main{ /* Here I am customizing the first section in my webpage, adding a background image, ensuring it took up the entire screen*/
  background-image: url("https://www.shutterstock.com/image-vector/yellow-plaid-fabric-texture-background-260nw-2373869735.jpg");
   background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 60px; 
  border-radius: 10px; 
}
#main h2 { /* This section is customizing the h2 in the main dish section, changing the font, underlining it, and making it bigger*/ 
  
font-size: 40px;
 font-family: "The seasons";
 text-decoration: underline; 
 
}

.other {  /* Here I am making a rectangular section with a light blue background  */
      width: 100%;
      height: 300px;
      background-color: #aae0e7;
}
.other h2{ /* I moved my h2 in the "other" section to the complete center of my screen, not just moving it to the middle at the top but lowering it as well to be completely centered */
  font-family: "The seasons";
  text-decoration: underline; 
   display: flex;
  justify-content: center; 
  align-items: center; 
  height: 300px; 
} 

#burgers { /* This is making a dark blue rectangular section , just making the background of the burger section*/
    position: relative;
      width: 100%;
      height: 390px;
      margin: auto;
      background-color: #0d3a7b;
}
#burgers h2 { /*This part of my css is styling the h2 in the burger section by changing the font, underlining it, and making it bigger*/
  font-family: "The seasons"; 
  color: white;
   text-decoration: underline; 
  font-size: 60px;
} 
#burgers p { /*Here I am customzing the p tag in the burger section to make it centered and change the color of the font*/ 
 text-align: center; 
color: white;
  margin-right: 30px;
  margin-bottom: 100px;
  margin-left: 70px;
}

#sandwich { /*I am making the background fo0r my sandwich section, putting plaid image and adjusting it to fit the entire [age */ 
 background-image: url("https://i.pinimg.com/736x/2d/0b/66/2d0b664434deca5ef3b6b5b483c726ca.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 40px; 
  border-radius: 10px; 
}

#sandwich h2 { /*I am making the header in the sandwhich div bigger, giving it a color, and underlining it*/ 
font-size: 60px; 
color: #ed7c90;
font-family: "The seasons";
text-decoration: underline; 
}

 #sandwich p { /*This customizes the p tag in my sandwhich area, centering it and  changing the font size */ 
 text-align: center;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 70px;
  font-size: 20px;
}

#Sides { /*Again, I am giving the side sandwhich a background that will take up the entire screen*/ 
 background-image: url("https://media.rainpos.com/Checker/Y2902-20.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 40px; 
  border-radius: 10px; 
  height: 460px;
}

#Sides h2 { /*I am making the header in the side section bigger, giving it a color, and underlining it*/
font-size: 60px; 
color: #2b4f06;
font-family: "The seasons";
text-decoration: underline; 
}
#Sides p { /*This customizes the p tag in my sides area, centering it and  changing the font size*/
  text-align: center;
  margin-right: 80px;
  margin-bottom: 100px;
  margin-left: 70px;
  font-size: 20px;
}
.second-page{ /*Finally I am customzing my button, giving it a white color, changing the font, adding a border, making sure it appears on the bottom right of the webpage, and giving it a fixed position so it remains in the same place as you scroll down the webpage, */
  font-family: "The seasons"; 
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
}
