
.custom-bg { 
  background-color: #ffde59;
  font-family: "The seasons";
  font-size: 30px;
}

.main {
  background-image: url("https://www.shutterstock.com/image-vector/yellow-plaid-fabric-texture-background-260nw-2373869735.jpg");
   background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 40px; 
  border-radius: 10px; 
}
.img-fluid {
  margin-left: 100px;
  margin-right: 100px; 
  margin-bottom: 10px;
}

.other {
   position: relative;
      width: 100%;
      height: 300px;
      margin: auto;
      background-color: #aae0e7;
}
.other h2{
  font-family: "The seasons";
  text-decoration: underline; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 300px; 
} 
.burgers h2 {
  font-family: "The seasons"; 
  color: white;
   text-decoration: underline; 
  font-size: 60px;
}

.burgers {
    position: relative;
      width: 100%;
      height: 390px;
      margin: auto;
      background-color: #0d3a7b;
}
.burgers p { 
 text-align: center; 
color: white;
  margin-right: 30px;
  margin-bottom: 100px;
  margin-left: 70px;
}

.sandwhiches {
  
  
}
