h2 {
  color: red;
  }
h1 {
color: DodgerBlue;
font-size: 1-rem; 
 text-decoration-line: underline;
}
background { 
  color: green;
}
body { 
  .p1 {
  font-family: "Times New Roman", Times, serif;
}
