 /* h2 { 
   color: red; 
   } 
 h1 { 
color: DodgerBlue; 
font-size: 1-rem; 
 text-decoration-line: underline;
} */


.name {
 color: #D8BFD8;
}
.question {
 color: violet;
 border-style: groove;
 border-color: DarkTurquoise;
 margin: 10% 10px 20px 30px;

 padding: 50px;
} 

